@font-face {
    font-family: 'Credit Card';
    src: url('/static/fonts/KreditBack.otf');
}

@font-face {
    font-family: 'Credit Card Key';
    src: url('/static/fonts/Kredit.otf');
}

@font-face {
    font-family: 'Credit Card Title';
    src: url('/static/fonts/Ballega.otf');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('/static/fonts/Poppins-SemiBold.ttf');
}

html {
    background: #0cebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    font-family: Arial, sans-serif;
}

h1{
    font-family: 'Credit Card Title';
    font-size: 2em;
    background-color: #471dbc;
    color: white;
    text-align: center;
    padding: 20px;
    width: 800 px;
    border-radius: 15px;
    align-items: center;
}

h2{
    color: #471dbc; ;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 20% 0 20%;
}

#saldo{
    font-size: 2em;
    font-weight: semibold;
    margin-top: 20px;
    font-family: 'Credit Card Title';
}

.card-details {
    display: grid;
    grid-template-rows: 2em 1em 1em 1em 1em;
    height: 300px;
    grid-template-areas: 
        "tarjeta 0"
        "nrotarjeta 0"
        "clave 0"
        "vencimiento 0"
        "nombre logotarjeta";
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 20px;
    margin: 0 10% 0 0;
    font-size: xx-large;
    background-color: white;
}

#tarjeta {
    grid-area: tarjeta;
    font-family: 'Credit Card Title';
    font-size: 1em;
}

#nrotarjeta {
    grid-area: nrotarjeta;
    font-family: 'Credit Card';

}

#clavetarjeta {
    grid-area: clave;
    font-family: 'Credit Card Key';

}

#vencimientotarjeta {
    grid-area: vencimiento;
    font-family: 'Credit Card Key';

}

#nombre {
    grid-area: nombre;
    font-family: 'Credit Card';
    margin-top: 2em;

}

#logotarjeta {
    grid-area: logotarjeta;
    margin-left: 30%;
    width: 5em;
}

.card-details h2 {
    margin-top: 0;
}

.transacciones {
    margin-top: 20px;
    font-weight: bold;
    width: 725px;
}

.transacciones ul {
    list-style-type: none;
    padding: 0;
}

.transacciones ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: #000000 2px solid;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}


#logo-trash{
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#logo-eye{
    margin-top: 10px;
}

#btn-hacer-transaccion{
    margin: 5% 30% 5% 30%;
    padding: 10px;
    font-size: 1.3em;
    font-family: 'Credit Card Title';
    background-color: #471dbc;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#btn-hacer-transaccion:hover{
    padding: 15px;
    font-size: 1.35em;
    box-shadow: #000000 2px 2px 2px;
    transition: 200ms;
}

#contenedor-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario-transaccion{
    background-color: #471dbc;
    padding: 5%;
    color: #ebebeb;
    font-family: 'Credit Card Title';
    border-radius: 10px;
}

#formulario-transaccion input{
    margin-top: 32px;
    border: none;
    font-family: 'Poppins SemiBold';
    color: #000000;
}

#btn-enviar-monto{
    margin-top: 30px;
    border: none;
    margin-left: 40%;
    background-color: #ebebeb;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins SemiBold';
}

#btn-enviar-monto:hover{
    background-color: #000000;
    color: white;
    transition: 300ms;
}