html {
    background: #0cebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: medium;
}

.form-container {
    width: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 45px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.form-container-home {
    width: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 45px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form+p, form p {
    text-align: center;
}

input {
    border-radius: 10px;
    border: 1px solid #666666;
    padding: 15px;
    font-size: medium;
}

button {
    margin-top: 20px;
    border-radius: 10px;
    border: 0px solid;
    padding: 15px 30px;
    font-size: large;
    background-color: #2F37EF;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.welcome-message {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.options {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: #2F37EF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.escondido {
    display: none;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
